@import "tailwindcss";
body {
    background-color: #284b63;
    font-family: 'Tinos', serif;
}

.root {
    width: 100%;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    margin-bottom: 10px;
}