body {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #a8ec88;
  margin-top: 50px;
}

.container {
  display: flex;

}